version: "3.0"
services:
  stash-vr:
    image: ofl0w/stash-vr:latest
    container_name: stash-vr
    restart: unless-stopped
    ports:
      - "9666:9666"
    environment:
      STASH_GRAPHQL_URL: "http://localhost:9999/graphql"
      #STASH_API_KEY: "xxx"
      #FAVORITE_TAG: "FAVORITE"

      ## FILTERS can be either 'frontpage' or a comma separated list of filter ids.
      ## If left empty all saved filters will be shown.
      #FILTERS: "2,3,7"     # comma separated list of filter ids to show
      #FILTERS: "frontpage" # show only scene filters from front page

      #ALLOW_SYNC_MARKERS: "true"
      #DISABLE_HEATMAP: "true"
      #HEATMAP_HEIGHT_PX: 45
      #DISABLE_PLAY_COUNT: "true"
      #LOG_LEVEL: "debug"

      #FORCE_HTTPS: "true"