version: "3.0"
services:
  stash-vr:
    image: ofl0w/stash-vr:latest
    container_name: stash-vr
    restart: unless-stopped
    ports:
      - "9666:9666"
    volumes:
      - /path/in/host:/config
    environment:
      STASH_GRAPHQL_URL: "http://localhost:9999/graphql"
      #STASH_API_KEY: "xxx"

      ## For configurations in status page to persist a path must be provided that Stash-VR has write access to.
      #CONFIG_PATH: /config

      #FAVORITE_TAG: "FAVORITE"
      #EXCLUDE_SORT_NAME: "hidden"
      #HEATMAP_HEIGHT_PX: 45

      #FORCE_HTTPS: "true"

      #LOG_LEVEL: "debug"
      #DISABLE_LOG_COLOR: "true"
      #DISABLE_REDACT=true